<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title">Commands</h1>
    <h2 class="subtitle">All The Commands That Verified</h2>
  </div>
  <div class="column">
    <div class="dropdown is-pulled-right is-right" [ngClass]="{'is-active': filterDropdown}">
      <div class="dropdown-trigger">
        <button class="button filter" aria-haspopup="true" (click)="filterDropdown = !filterDropdown"
          aria-controls="dropdown-menu3">
          <span class="filter">Filter</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down filter" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item" (click)="filter('az')">
            A - Z
          </a>
          <a class="dropdown-item" (click)="filter('za')">
            Z - A
          </a>
          <hr class="dropdown-divider">
          <a class="dropdown-item"  (click)="filter('game:game01')">
            Game 01
          </a>
          <a class="dropdown-item" (click)="filter('game:game02')">
            Game 02
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="columns is-variable is-2">
  <div class="column">
    <app-card-command [command]="command"></app-card-command>
  </div>
  <div class="column">
    <app-card-command [command]="command"></app-card-command>
  </div>
  <div class="column">
    <app-card-command [command]="command"></app-card-command>
  </div>
</div>
