.columns {
    height: 100%;

    img {
        width: 60%;
        margin-bottom: 2em;
    }

    .menu-label {
        margin-top: 1rem;
    }

    .container.is-fluid {
        margin: 1em;
    }
}